<!doctype html>
<html lang="en">
    <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.0/css/bootstrap.min.css" integrity="sha384-PDle/QlgIONtM1aqA2Qemk5gPOE7wFq8+Em+G/hmo5Iq0CCmYZLv3fVRDJ4MMwEA" crossorigin="anonymous">

    <title>Hello, world!</title>
    </head>

    <body>
        <div class="jumbotron jumbotron-fluid">
            <div class="container">
                <h1 class="display-4">Hawaii Climate Analysis API</h1>
                <p class="lead">by joelsotelods</p>
            </div>
        </div>



        <div class="container">
            <div class="row">
                <div class="col-1"></div>
                <div class="col-12">
                    <div class="text-center">
                        <img src="https://www.nationalgeographic.com/content/dam/adventure/photos/2017/stories/eric-sterman-aerial-surfing/aerial-seven-mile-miracle-north-shore-hawaii-aerial.adapt.1900.1.jpg" class="img-fluid" alt="Responsive image">
                    </div>
                    
                </div>
                <div class="col-1"></div>
            </div>
        </div>

        <br>

        <div class="container">
                <div class="row">
                        <div class="col-4">Stations</div>
                        <div class="col-4">List of stations from the dataset.</div>
                        <div class="col-4">/api/v1.0/stations</div>
                </div>
                <br>
            <div class="row">
                <div class="col-4">Precipitation</div>
                <div class="col-4">List of precepitation values from the dataset.</div>
                <div class="col-4">/api/v1.0/precipitation</div>
            </div><br>
            <div class="row">
                    <div class="col-4">Temperature Observations</div>
                    <div class="col-4">Dates and temperature observations</div>
                    <div class="col-4">/api/v1.0/tobs</div>
                </div><br>
                <div class="row">
                        <div class="col-4">Temperature by start date</div>
                        <div class="col-4">See minimum temperature, the average temperature, and the max temperature</div>
                        <div class="col-4">/api/v1.0/start</div>
                    </div><br>
                    <div class="row">
                            <div class="col-4">Temperature by Range of dates</div>
                            <div class="col-4">See minimum temperature, the average temperature, and the max temperature.</div>
                            <div class="col-4">/api/v1.0/start/end</div>
                        </div>

        </div>


        <br><br><br>
   

        <!-- Optional JavaScript -->
        <!-- jQuery first, then Popper.js, then Bootstrap JS -->
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.0/js/bootstrap.min.js" integrity="sha384-7aThvCh9TypR7fIc2HV4O/nFMVCBwyIUKL8XCtKE+8xgCgl/PQGuFsvShjr74PBp" crossorigin="anonymous"></script>
    </body>
</html>
